.Procard-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #212529;
    background-color: #f9fafc;
    max-width: 100%;
}
.Procard-container:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.Procard {
    flex: 0 0 calc(33.3333% - 20px);
    margin-bottom: 20px;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #00000020;
    border-radius: 0.8rem;
    box-sizing: border-box;
}

.del-icon {
    text-align: end;
}

.del-icon:hover {
    color: #e71111;
}
.Procard-title {
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 600;
    font-style: normal;
}
.Procard>hr {
    margin-right: 0;
    margin-left: 0;
}
.Procard-body .Procard-text {
   
    margin-top: 0.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
}
.Procard-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem 1.25rem;
}
/* .Procard-columns {
    
    padding-top: 0px;
} */
/* .Procard-columns .Procard {
    margin-bottom: 12px !important;
} */
.Procard-footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: transparent;
    border-top: 0;
}
.Procard-footerleft {
    display: flex;
    align-items: left;
    margin-right: 35px;
}
.Procard-progress {
    background: #adb5f8;
    border-radius: 8px;
    align-items: center;
    position: relative;
    display: flex;
    height: 21px;
    width: 90px;
}

.Procard-progress-value {
    animation: load 3s normal forwards;
    border-radius: 7px;
    background: #424CBF;
    height: 20px;
    width: 0;    
}

 @keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 68%;
    }
} 

.Procard-footerright {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
    justify-content: end;
}

.footerright a {
    transition: transform 0.3s ease;
    font-size: 24px;
}

.footerright a:hover {
    color: rgb(8, 120, 249);
    transform: scale(1.2);
}

@media (max-width: 600px) {
    .Procard-container {
        justify-content: center;
        align-items: center;
        display:flex;
    }
}
/* @media (min-width: 420px) {
    .Procard-columns {
        column-count: 2;
        column-gap: 0.5rem;
        orphans: 2;
        widows: 2 !important;
    }
}

@media (min-width: 576px) {
    .Procard-columns .Procard {
        display: inline-block;
        width: 100%;
    }

    .Procard-columns {
        column-count: 3;
        column-gap: 0.5rem;
        orphans: 4;
        widows: 4;
    }

    .Procard-container {
        max-width: 98%;
    }
}

@media (min-width: 796px) {
    .Procard-columns {
        column-count: 3;
        column-gap: 1.125rem;
        orphans: 4;
        widows: 4;
    }
} 
@media (min-width: 966px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .container {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
} */